<div class="row justify-content-center">
	<div class="col-4">
	<div class="tab-content">
	  <div [ngClass]="active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'" style="margin: 100px auto;">
	    <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">

	      <div class="form-outline mb-4">
            <label class="form-label" for="loginName">Username</label>
	        <input type="login" id="loginName" name= "login" class="form-control" [(ngModel)]="login" />
	      </div>

	      <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Password</label>
	        <input type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password" />
	      </div>
          <div style="display: flex;">
              <button type="submit" class="btn btn-primary btn-block mb-4">Sign In</button>
          </div>

	    </form>
	  </div>
	  </div>
	</div>
</div>